*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.card-holder-sandra {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: 25px 50px 75px 35px;
    text-align: center;
    overflow: hidden; 
}
.card-new {
    width: calc(33% - 75px);
    margin: 55px 31px 10px 45px;
    background-color: #f1f1f1;
    height: 400px;
    display: inline-block;
    position: relative;
}
.card-img-new {
    background-size: cover;
    background-position: 51% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: -55px;
    top: -45px;
    width: 100%;
    height: 400px;
}
.p-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 60px;
}

.bar-title{

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}
.text-img{
    width: 100%;
    height: 80px; 
    transform: rotate(270deg);
    position: absolute;
    right: -170px;
    top: 210px;
}
.card-holder-2{
    width: calc(100% - 75px);
    margin: 55px 31px 10px 45px;
    background-color: #f1f1f1;
    height: 400px;
    display: flex;
    position: relative;
    text-align: center;
}
/* img{
    opacity: 0.5;
} */
.text{
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;
    z-index: 1;
}

.supplement-cards{
    margin-bottom: 30px;
}

.bar-description{
    margin-bottom: 40px;
}

.text-price{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


.card-new {
    width: calc(33% - 75px);
    margin: 35px;
    background-color: #f1f1f1;
    height: 400px;
    display: inline-block;
    position: relative;
}

.text-price{
    position: absolute;
    bottom: 10px;
    left: 42%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

@media all and (min-width: 1382px) {
    .text-img {
        right: -175px;
    }
}

@media all and (min-width: 1182px) and (max-width: 1382px) {
    .text-img {
        right: -180px;
    }
}

@media all and (min-width: 992px) and (max-width: 1182px) {
    .text-img {
        right: -110px;
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
    .card-new {
        width: calc(50% - 75px);
    }

    .text-img {
        right: -140px;
    }
}

@media all and (max-width:768px){
    .card-new, .clasical-workut, .card-img{
        width: calc(100% - 75px);
    }
    .text-img {
        right: -195px;       
    }
}

