/* Jordan Martinovski */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.overflow-body {
    overflow-x: hidden;
}

/* Header */
.navigation {
    float: right;
    width: calc(100% - 100px);
    text-align: right;
    height: 60px;
    padding: 0 50px;
}

.nav-link {
    display: inline-block;
    padding: 10px 0px;
    position: relative;
    width: 90px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.nav-link:hover {
    color: yellow;
}

.logo {
    margin-left: 10px;
    height: 50px;
}

.navbar-toggler-icon {
    color:white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Home Menu */

.home {
    margin-top: -65px;
}

.home-section {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}

.home-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-left: 80px;
}

.home-right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.home-image {
    width: 100%;
}

.weight-icon {
    font-size: 30px;
    transform: rotate(130deg);
    color: white;
}

.text-2 {
    font-size: 50px;
    font-weight: 400;
    color: white;
}

.header {
    margin: 0px 10px;
}

.header-title-1 {
    display: block;
}
  
.header-menu-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 0px 30px;
}

.header-menu-button {
    float: right;
}

.color-text {
    color: yellow;
    font-weight: bold;
}

.text-3 {
    max-width: 60%;
    font-size: 18px;
    color: white;
}

.contact-now {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact-now:hover {
    background-color: yellow;
    color: white;
    border: none;
}

.card {
    display: block;
    border: none;
    width: 25%;
    float: left;
}

.fitness-img {
    position: relative;
    width: 100%;
}

.fitness-text {
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.horizontal-line {
    width: 160px;
    height: 4px;
    background: white;
    border: 0;
    opacity: 1;
    position: absolute;
    bottom: 45px;
    left: 40px;
}

.fitness-sets {
    position: absolute;
    bottom: 15px;
    left: 40px;
    font-size: 18px;
    color: white;
}

.fitness-sets-small {
    font-size: 14px;
}

@media all and (max-width: 767px) {
    .card {
        width: 100%;
    }

    .home-image {
        display: none;
    }

    .home-left {
        width: 100%;
        margin: 30px;
    }

    .home-right {
        display: none;
    }

    .home-left-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .text-2 {
        font-size: 35px;
    }

    .text-3 {
        max-width: 100%;
        text-align: center;
    }

    .header-title-1 {
        display: inline;
    }

    .fitness-sets {
        font-size: 15px;
    }

    .fitness-sets-small {
        font-size: 11px;
    }

    .header {
        margin: 0;
    }
  
    .header-container {
        background-color: black;
    }
     
    .header-menu-container {
        display: block;
        margin: 0;
    }

    .header-menu {
        background-color: black;
    }

    .header-menu .nav-link {
        text-align: left;
        margin-left: 15px;
    }
    
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .card {
        width: 50%;
    }

    .header {
        margin: 0;
    }
  
    .header-container {
        background-color: black;
    }
     
    .header-menu-container {
        display: block;
        margin: 0;
    }
      
    .header-menu {
        background-color: black;
    }

    .header-menu .nav-link {
        text-align: left;
        margin-left: 15px;
    }
}
  