*{
    box-sizing: border-box;
}

.fitness-details{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.fitness-image-details{
    width: 50%;
    height: 100%;

}

.image-holder{

    width: 100%;
    height: 500px;
    background-size: 79%;
    background-image: url('../images/1\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
}
.fitness-info-details{
    width: 50%;
    margin-left: 40px;
    margin-top: 60px;
}

.since-text{
    color: #e0b900;
    margin-bottom: 0px;
    
}
.details-title{
   font-size: 36px;
   font-weight: bold; 
}

.details-info{
    text-align: left;
}

.radio-buttons{
    margin: 6px;
}

input[type='radio']{
  border-color:   #e0b900;
}

.details-buttons{
    margin-top: 30px;
    display: flex;    
}

.first-button{
    background-color: #e0b900;
    border-radius: 35px;
    border: none;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.training-holder{
    width: 100%;
    height: 400px;
    display: flex;
    
}

.training-details{
    width: 70%;
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.training-image{
    width: 28%;
    background-image: url('../images/discount.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.training-details-holder{
    padding: 30px;
    float: left;
    position: relative;
    justify-content: center;
}

.icons-holder{
    font-size: 33px;
    color: gray;
}

.training-title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.fa-dumbbell{
    transform: rotate(150deg);
}

.training-description{
    color: gray;
}

.blog-holder{
    width: 100%;
    

}

.blog-card{
    margin: 20px;
    width: 33%;
    background-color: #f2f2f2;
}

.blog-title{
    margin-top: 30px;
    text-align: center;
}

.blog-description{
    margin: auto;
    text-align: center;
    width: 45%;
    color: gray;
}

.card-holder{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card-title{
    font-weight: bold;
}

.p-zero{
    padding: 0;
}

.card-tag-holder{
display: flex;
}

.date-holder{
    margin-left: 20px;
}


@media (min-width: 900px) and (max-width: 1200px){
    .fitness-details{
        display: inline-block;
    }

    .fitness-info-details{
        width: 100%;
        margin-bottom: 30px;
    }
    .fitness-image-details{
        width: 65%;
        margin: auto;       
    }

    .training-details{
        display: inline-block;
        height: 70%;
    }
    
    .training-image{
        width: 30%;
    }
    
    .fitness-details {
        height: 450px;
    }
    .image-holder {
        height: 450px;
    }
    .fitness-info-details {
        margin-top: 0;
    }
    .training-holder {
        height: auto;
        margin-top: 30px;
    }
}

@media (min-width: 730px) and (max-width: 900px){
    .fitness-details{
        display: inline-block;
    }

    .fitness-info-details{
        width: 100%;
        margin-bottom: 30px;
    }
    .fitness-image-details{
        width: 90%;
        margin: auto;       
    }
    .fitness-details {
        height: 370px;
    }
    .image-holder {
        height: 370px;
    }
    .fitness-info-details {
        margin-top: 0;
    }

    .training-details {
        width: 100%;
    }

    .training-image {
        width: 100%;
    }

    .training-holder {
        display: block;
        height: auto;
        margin-top: 35px;
    }

    .training-image {
        min-height: 600px;
    }
}

@media (min-width: 480px) and (max-width: 730px){
    .fitness-details{
        display: inline-block;
    }

    .fitness-info-details{
        width: 100%;
        margin-bottom: 30px;
    }
    .fitness-image-details{
        width: 100%;
        margin: auto;    
    }
    .fitness-info-details {
        margin-top: 0;
    }

    .training-details {
        width: 100%;
    }

    .training-image {
        width: 100%;
    }

    .training-holder {
        display: block;
        height: auto;
        margin-top: 35px;
    }

    .training-image {
        min-height: 600px;
    }
}