* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

.ft-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color      : #e0b900;
    margin     : 0%;

}

.ft-text-und {
    color      : black;
    margin     : 0%;
    font-size  : 27px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;

}

.view-all-btn {
    display        : flex;
    justify-content: end;
    width          : 30%;

}


.fitness-gallery-content {
    display: flex;
    width  : calc(100% - 40px);
    margin : 40px;
}

.title-content-gallery {
    width: 70%;
}

.vertical-center {
    display    : flex;
    align-items: center;
}

#style-btn {
    border-radius   : 13px;
    background-color: white;
    border          : 2px solid #e0b900;
    transition      : 0.4s;
}

#style-btn:hover {
    background-color: #e0b900;
}

.pictures-under-gallery {
    display: flex;
    width  : 100%;
    height : 400px;
}

.slika-11 {
    background-image: url('../images/14115040_856427074491528_6997669292601927352_o.jpg');
}

.slika-22 {
    background-image: url('../images/14102769_856425937824975_2398195722202088598_o.jpg');
}

.slika-33 {
    background-image: url('../images/14138701_856428951158007_573258383599651029_o.jpg');
}

.slika-44 {
    background-image: url('../images/14103007_856424784491757_8110167904449184795_o.jpg');
}

.picture-gallery-my {
    width              : 25%;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    margin             : 15px;
}

.txt-center {
    text-align: center;
    margin    : 30px 340px;
}

.trainer-cards {
    display: flex;
}

.card-center {
    width : 25%;
    margin: 30px;
}


.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.social-icons-1 {
    font-size: 22px;
    margin   : 0 13px;
    cursor   : pointer;
}

.box-socialni-mrezi {
    text-align: center;
}

@media all and (max-width:1200px) {
    .slika-44 {
        display: none;
    }

    .pictures-under-gallery {
        flex-wrap: wrap;
    }

    .picture-gallery-my {
        flex: calc(30% - 30px);
    }

    .profesionalni-instruktori {
        margin: 30px 200px;
    }

    .txt-center {
        margin: 30px 200px;
    }

    .card-center {
        margin: 20px;
    }

    .social-icons-1 {
        font-size: 20px;
        margin   : 0 8px;
    }

}

@media all and (max-width:991px) {
    .slika-33 {
        display: none;
    }

    .slika-44 {
        display: none;
    }

    .trainer-cards {
        flex-wrap: wrap;
    }

    .card-center {
        flex  : calc(50% - 60px);
        margin: 30px;
    }

    .txt-center {
        margin: 10px 100px;
    }

    .pictures-under-gallery {
        flex-wrap: wrap;
    }

    .picture-gallery-my {
        flex: calc(50% - 30px);
    }
}

@media all and (max-width:767px) {
    .pictures-under-gallery {
        display: block;
        width  : 100%;
    }

    .slika-11 {
        display: none;
    }

    .slika-33 {
        display: none;
    }

    .slika-44 {
        display: none;
    }

    .picture-gallery-my {
        width : 100%;
        margin: 0%;
        height: 380px;
    }

    .view-all-btn {
        display: none;
    }

    .title-content-gallery {
        width     : 100%;
        text-align: center;
    }

    .profesionalni-instruktori {
        line-height: 30px;
        height     : 75px;
        font-size  : 26px;
        padding    : 0px 103px;
    }

    .trainer-cards {
        display: block;
    }

    .card-center {
        margin: 40px;
        width : calc(100% - 80px);
    }

    .social-icons-1 {
        font-size: 22px;
    }

    .fitness-gallery-content {
        margin: 25px;
    }


}